@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body,
html {
  margin: 0;
}

header {
  background-color: rgb(237, 237, 237);
}
.boxheadertop {
  display: flex;
  padding-top: 8px;
  justify-content: space-between;
  margin: 0px 10px;
}
.boxheadertop div {
  display: flex;
  align-items: center;
}
.boxheadertop .menu {
  width: 32px;
  height: 32px;
}
.boxheadertop img {
  width: 82px;
  height: 38px;
}

.boxheadertop .avt {
  width: 10vw;
  height: 10vw;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.boxheadertop .name {
  margin-left: 10px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: blue;
}
