@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
body,
html {
  margin: 0;
  overflow: hidden;
}

.anhbia {
  width: 100%;
  height: 20vh;
}
.anhbia img {
  width: 100%;
  height: 20vh;
}

.khungtenavt {
  transform: translate(3vw, -2vh);
  display: flex;
  align-items: center;
}
.khungavt {
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  border: 1px rgba(0, 0, 0, 0.314) solid;
  position: relative;
}

/* .thayavt{
  width: 120px;
  height: 40px;
  position: absolute;
  background-color: red;
  bottom: 0px;
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
  
} */
.khungavt img {
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
}
.khungtenavt p {
  padding: 0;
  margin: 0;
  max-width: 90vw;
}

.khungtenavt .khungten {
  margin-left: 15px;
}
.khungtenavt .name {
  font-size: 6vw;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.khungtenavt .emailname {
  font-size: 13px;
  margin-top: 2px;
  color: rgba(0, 0, 0, 0.5);
  margin-left: 10px;
}
.khungtenavt svg {
  width: 6vw;
  color: red;
  margin-left: 15px;
  font-size: 4vw;
}

.boxtien {
  display: flex;
  gap: 2vw;
  margin: auto;
  justify-content: center;
}
.boxlbtien {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.label {
  margin: 0;
  margin-bottom: 5px;
  font-size: 3.5vw;
  margin-left: 5px;
  color: rgba(0, 0, 0, 0.5);
}

.boxsodu {
  width: 41vw;
  height: 31vw;
  background-color: #dbdefd;
  border-radius: 10px;
  padding: 2vw;
}

.boxsodu p {
  margin: 0;
  color: #0e5fff;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  font-size: 5vw;
}

.boxtien .boxthuchi {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.boxthu {
  width: 41vw;
  background-color: #a5ffdf;
  height: calc(31vw / 2 - 5px);
  border-radius: 10px;
  padding: 1vw;
}

.boxchi {
  width: 41vw;
  background-color: #ffe8a6;
  height: calc(31vw / 2 - 5px);
  border-radius: 10px;
  padding: 1vw;
}

.boxchi p,
.boxthu p {
  margin: 0;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  font-size: 5vw;
}

.boxchi p {
  color: #ae641a;
  margin-top: 5px;
  margin-left: 5px;
}
.boxthu p {
  color: #14af00;
  margin-top: 5px;
  margin-left: 5px;
}

.thongtin {
  width: 90%;
  border: 1px #5890ff solid;
  padding: 15px;
  border-radius: 10px;
  margin: auto;
  margin-top: 20px;
}

.thongtin th {
  text-align: left;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  font-size: 4.5vw;
  color: rgba(0, 0, 0, 0.674);
}
.back {
  width: fit-content;
  background-color: rgb(115, 115, 248);
  border-radius: 10px;
  margin: auto;
  margin-top: 20px;
}

.back p {
  margin: 0;
  padding: 5px 15px;
  color: white;
  cursor: pointer;
}

.menuavt {
  width: 100%;
  height: 200px;
  background-color: rgb(255, 255, 255);
  position: fixed;
  bottom: 0;
  left: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0px -3px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}
.icon {
  width: 8vw;
  height: 2vw;
  background-color: rgba(37, 37, 37, 0.374);
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 50px;
}
.doiavt,
.xemavt {
  display: flex;
  align-items: center;
  border-bottom: 1px rgba(0, 0, 0, 0.492) solid;
}

.doiavt svg,
.xemavt svg {
  width: 9vw;
  margin: 10px 15px;
  margin-right: 5px;
}
