@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
body,
html {
  margin: 0;
  overflow: hidden;
}

.anhbia {
  width: 100%;
  height: 23.5vh;
}
.anhbia img {
  width: 100%;
  height: 23.5vh;
}

.khungtenavt {
  transform: translate(20px, -25px);
  display: flex;
  align-items: center;
}
.khungavt {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 1px rgba(0, 0, 0, 0.314) solid;
  position: relative;
}

/* .thayavt{
  width: 120px;
  height: 40px;
  position: absolute;
  background-color: red;
  bottom: 0px;
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
  
} */
.khungavt img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.khungtenavt p {
  padding: 0;
  margin: 0;
}

.khungtenavt .khungten {
  margin-left: 15px;
}
.khungtenavt .name {
  font-size: 23px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.khungtenavt .emailname {
  font-size: 13px;
  margin-top: 2px;
  color: rgba(0, 0, 0, 0.5);
  margin-left: 10px;
}
.khungtenavt svg {
  width: 30px;
  color: red;
  margin-left: 15px;
}

.boxtien {
  display: flex;
  gap: 16px;
  margin: auto;
  justify-content: center;
}
.boxlbtien {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.label {
  margin: 0;
  margin-bottom: 5px;
}

.boxsodu {
  width: 42.5vw;
  height: 112px;
  background-color: #dbdefd;
  border-radius: 10px;
  padding: 2vw;
}

.boxsodu p {
  margin: 0;
  color: #0e5fff;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
}

.boxtien .boxthuchi {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.boxthu {
  width: 42.5vw;
  background-color: #a5ffdf;
  height: calc(112px / 2 - 5px);
  border-radius: 10px;
  padding: 1vw;
}

.boxchi {
  width: 42.5vw;
  background-color: #ffe8a6;
  height: calc(112px / 2 - 5px);
  border-radius: 10px;
  padding: 1vw;
}

.boxchi p,
.boxthu p {
  margin: 0;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
}

.boxchi p {
  color: #ae641a;
  margin-top: 5px;
  margin-left: 5px;
}
.boxthu p {
  color: #14af00;
  margin-top: 5px;
  margin-left: 5px;
}

.thongtin {
  width: 90%;
  border: 1px #5890ff solid;
  padding: 15px;
  border-radius: 10px;
  margin: auto;
  margin-top: 10px;
}

.thongtin th {
  text-align: left;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  color: rgba(0, 0, 0, 0.674);
}
.back {
  width: fit-content;
  background-color: rgb(115, 115, 248);
  border-radius: 10px;
  margin: auto;
  margin-top: 20px;
}

.back p {
  margin: 0;
  padding: 5px 15px;
  color: white;
  cursor: pointer;
}
