body,
html {
  margin: 0;
}

header {
  background-color: rgb(237, 237, 237);
}
.boxheadertop {
  display: flex;
  padding-top: 8px;
}
.boxheadertop div {
  display: flex;
}
.boxheadertop .menu {
  width: 32px;
  height: 32px;
}
.boxheadertop img {
  width: 82px;
  height: 38px;
  margin-left: 10px;
}
